@page "{id:int}"
@model MyApp.Namespace.DetailModel
@{
}

<div class="container">
    <div class="row">

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title display-4">@Html.DisplayFor(model => model.postulantDetail.Nom) @Html.DisplayFor(model => model.postulantDetail.Prenom)</h5>
                <p class="card-text">Sexe @Html.DisplayFor(model => model.postulantDetail.Sexe)</p>
                <p class="card-text">Classe @Html.DisplayFor(model => model.postulantDetail.Classe)</p>
                <a asp-page="./Index" class="btn btn-primary">Go To Index</a>
            </div>
        </div>

    </div>
</div>